# Object files
*.o
*.ko
#*.obj
*.elf

 
# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.tlog
*.res
Debug/Mini3D.exe.embed.manifest
*.manifest
*.log
*.pdb
*.sdf
*.user
*.opensdf
*.rc
*.lastbuildstate
*.ipch
*.idb
*.ilk
*.cache
